.text-area {
    -fx-text-fill: white ;

    -fx-background-insets: 0;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;

    -fx-font-family: Consolas, 'Courier New', monospace;
    -fx-font-size: 16;
}

.text-area .content {
    -fx-background-color: #1e1e1e;
}

.text-area:focused .content {
    -fx-background-color: #1e1e1e;
}

.viewport {
    -fx-background-insets: 0;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area:focused {

    -fx-background-insets: 0;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area .scroll-bar:vertical, 
.web-view .scroll-bar:vertical {

    -fx-background-color: transparent;
    -fx-border-color:transparent;
}

.text-area .scroll-bar:vertical .track, 
.web-view .scroll-bar:vertical .track {

	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}

 
.text-area .scroll-bar:vertical .increment-button,
.text-area .scroll-bar:vertical .decrement-button, 
.web-view .scroll-bar:vertical .increment-button, 
.web-view .scroll-bar:vertical .decrement-button {
 
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
 
}

.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow,
.web-view .scroll-bar .increment-arrow,
.web-view .scroll-bar .decrement-arrow {

	-fx-shape: " ";	
	-fx-padding:0;

}

.text-area .scroll-bar:vertical .thumb,
.web-view .scroll-bar:vertical .thumb {

    -fx-background-color:gray;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #F2F2F2;
    
}

.button:pressed {
    -fx-background-color: #CDCDCD;
}

#exitButton:hover, #exitButton:pressed {
    -fx-background-radius: 0 0.5em 0 0;
}

.menu-bar {
    -fx-background-color: #1e1e1e;
}

.menu-bar .label {
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.menu:hover{
    -fx-background-color: #5b5b5b;
}

.menu:focused {
    -fx-background-color: #5b5b5b;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: System;
}

.context-menu {
    -fx-background-color: #282424;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}